img {
    width: 100px;
    height: 100px;
    }
    
    .box {
    background-color: rgb(149, 149, 149);
    border-radius: 20px;
    margin: 10px;
    }
    
    article {
    font-weight: bold;
    }